<% provide(:title, 'ADMINISTRATION') %>

    <h1>Trial and Team Administration</h1>
    <p>
      This page is a placeholder for Administration  <br>
      <br> 
      Elements Will include:  <br>

	<li><%= link_to "1. Trials Data and Media Build (working)",   datastackadd_path %></li>  <br>
	
	<li><%= link_to "2. Trials Data and Media edit",   tedit_path %></li>  <br>

	<li><%= link_to "3. Team Management",   teammanagement_path %></li>  <br>

	<li><%= link_to "4. Team Communication",   teamcommunication_path %></li>  <br>

	<li><%= link_to "5. Certifications",   certification_path %></li>  <br>


    </p>

